 /* .navBar:any-link{
    color: red;
    text-decoration-line: none;
    font-size: 20px;
    display: static;
    justify-content:space-between;
}  */

/* #navBar:link{
    color: red;
    text-decoration: none;
} */

.homeNav{
    color: #34a0a4;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 350px;
    font-size: 20px;
}

.homeNav:hover{
    color: black;
}

.aboutUsNav{
    color: #34a0a4;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 245px;
    font-size: 20px;
}

.aboutUsNav:hover{
    color: black;
}

.publicDreamsNav{
    color: #34a0a4;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 105px;
    font-size: 20px;
}

.publicDreamsNav:hover{
    color: black;
}

.signInNav{
    color: #34a0a4;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 35px;
    font-size: 20px;
}

.signInNav:hover{
    color: black;
}

.createDreamNav{
    color: #34a0a4;
    text-decoration: none;
    font-size: 20px;
}

.createDreamNav:hover{
    color: black;
}