 /* .navBar:any-link{
    color: red;
    text-decoration-line: none;
    font-size: 20px;
    display: static;
    justify-content:space-between;
}  */

/* #navBar:link{
    color: red;
    text-decoration: none;
} */

.homeNav{
    color: #98a0f8;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 350px;
    font-size: 20px;
}

.homeNav:hover{
    color: #ac6dff;
}

.aboutUsNav{
    color: #98a0f8;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 230px;
    font-size: 20px;
}

.aboutUsNav:hover{
    color: #ac6dff;
}

.logoutNav{
    color: #98a0f8;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 128px;
    font-size: 20px;
}

.logoutNav:hover{
    color: #ac6dff;
}

.signInNav{
    color: #98a0f8;
    text-decoration: none;
    position: absolute;
    top: 45px;
    right: 35px;
    font-size: 20px;
}

.signInNav:hover{
    color: #ac6dff;
}





















