#londonpic{
  height: 310px;
  width: 320px;;
  border: solid 1px black;
  border-radius: 90%;
  object-fit: cover;
}

#yaneizypic{
    height: 310px;
    width: 320px;
    border: solid 1px black;
    border-radius: 90%;
    box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }



#aboutUsLogo{
  height: 500px;
  width: 500px;
  border: solid 1px black;
  border-radius: 90%;
  box-shadow: 0 0 25px 6px rgba(0, 0, 0, 0.2)
}